streamlit
python-dotenv

# Langchain
langchain
langchain-core
langchain-community
langchain-aws
langchain-chroma
langchain-text-splitters

# Vector store
chromadb

# AWS
boto3
botocore

# Supporting packages
typing-extensions
pydantic